.wrapper{
text-align: center;
}

.wrapper .laptop{
display: inline-block;
position: relative;
text-align: center;
width: 130%;
}

.wrapper .laptop .laptop-inner{
display: inline-block;
height: 85%;
left: 50%;
overflow: hidden;
position: absolute;
top: 48%;
-web-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
width: 77%;
}

.wrapper .laptop .laptop-inner img{
display: block;
left: 0;
position: absolute;
top: 0;
-webkit-transform: translate3d(0px, 0px, 0px);
-ms-transform: translate3d(0px, 0px, 0px);
-o-transform: translate3d(0px, 0px, 0px);
transform: translate3d(0px, 0px, 0px);
-webkit-transition: 5s ease-in-out;
-o-transition: 5s ease-in-out;
transition: 5s ease-in-out;
width: 100%
}